.square {
    height: 23vw;
	margin-top: 1%;
	max-height: 115px;
	max-width: 115px;
    padding-left: 1%;
    padding-right: 1%;
	vertical-align: top;
    width: 23vw;
}

.selected {
    background-color: #f78f91;
    height: 22vw;
	max-height: 110px;
	max-width: 110px;
	width: 22vw;
}

.row {
    border-radius: 25px;
	font-family: Verdana, Arial, sans-serif;
    height: 24vw;
    margin-top: 2%;
	max-height: 115px;
	max-width: 460px;
    padding-left: 1%;
    padding-right: 1%;
	padding-top: 1%;
    text-align: center;
    width: 92vw;
}

.footer {
	padding: 1vw;
}

#popup {
    background-color: #e3f6f6;
	border: 2px solid #525352;
	border-radius: 15px;
    font-family: Verdana, Arial, sans-serif;
	left: 50%;
    opacity: 0;
	padding: 2% 4% 4% 2%;
    position: absolute;
	text-align: center;
    top: 0;
    transform: translateX(-50%);
    transition: opacity 1s; 
    white-space: pre-wrap;
    z-index: 1;
}

#popup.fade {
    opacity: 1;
}

#rows {
    position: relative;
    width: max-content;
}

body {
	background-color: #fbf1eb;
}

header {
	background-color: #e3f6f6;
	border: 2px solid #525352;
	border-radius: 25px;
	color: #525352;
	padding-bottom: 1vh;
}

h1 {
	background-color: #7aadad;
	color: white;
	font-family: Georgia, serif;
}

h2, h3 {
	font-family: Georgia, serif;
	padding-left: 1vw;
}

p, li, summary {
	font-family: Verdana, Arial, sans-serif;
	padding-left: 1vw;
}

a:link {
	color: #284d4d;
}

a:visited {
	color: #f78f91;
}

hr {
	border: 1px solid #7aadad;
}

button {
	background-color: #7aadad;
	border: 2px solid #525352;
	border-radius: 25px;
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

button:active {
	background-color: #284d4d;
}

button:disabled {
	color: gray;
}
