.square {
    background-color: lightGray;
    border-radius: 25px;
    font-weight: bold;
    height: 22vw;
	max-height: 115px;
	max-width: 115px;
    padding-left: 1%;
    padding-right: 1%;
	vertical-align: top;
    width: 22vw;
}

.selected {
    background-color: lightBlue;
    height: 21vw;
	max-height: 110px;
	max-width: 110px;
	width: 21vw;
}

.row {
    border-radius: 25px;
    height: 22vw;
    margin-top: 2%;
	max-height: 115px;
	max-width: 460px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width: 88vw;
}

#popup {
    background-color: coral; /*To change and make pretty later*/
	border-radius: 15px;
    left: 50%;
    opacity: 0;
	padding: 2% 4% 4% 2%;
    position: absolute;
	text-align: center;
    top: 0;
    transform: translateX(-50%);
    transition: opacity 1s; 
    white-space: pre-wrap;
    z-index: 1;
}

#popup.fade {
    opacity: 1;
}

#rows {
    position: relative;
    width: max-content;
}
